# Q1

In [40]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #printing ages from the list
print (ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [10]:
import statistics 
ages.sort()
print("sorted list of ages=",ages) #printing the sorted ages

minimum=min(ages)
print("min age=",minimum) #printing the minimum age

X = len(ages)
maximum= ages[a-1]
print("max age=",ages[a-1]) #printing the maximum age
import statistics
median= statistics.median(ages)
print("median of ages=",median) #printing the median of ages

mean= statistics.mean(ages)
print("average of ages=",mean) #printing average of ages

import numpy as np #importing numpy library
for ages in np.arange(19,26):
    print(ages, end=' ') #printing the range of ages

sorted list of ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min age= 19
max age= 26
median of ages= 24.0
average of ages= 22.8
19 20 21 22 23 24 25

# Q2

In [11]:
Dog = {} #creating empty dog dictionary 
Dog = {
    'Dog_name':None,
    'Dog_color':None,
    'Dog_Bread':None,
    'Legs':None,
    'Age':None,
    }
print(Dog)
Student={}  #creating student dictionary  with keys and values
Student = {
    'first_name':'Sriharsha',
    'last_name':'Kata',
    'Gender':'Female',
    'age':22,
    'Marital_status':False,
    'skills':['JavaScript', 'Html', 'Python'],
    'country':'USA',
    'city':['Overland park'],
    'address':{
        'street':'Craig street',
        'zipcode':'66213'
    }
    }
print(Student) #printing student dictionary 
print('Length of student dictionary =',len(Student)) #printing the length of dictionary
print('Value of skills=',Student['skills']) #printing values of skills
print(Student.get('skills')) #geting the values of skills
Student['skills'].append("Angularjs") #adding values to skills
Student['skills'].append("Hadoop")
print(Student)
print(Student.keys()) #printing keys of student list
print(Student.values()) #printing the values of student list

{'Dog_name': None, 'Dog_color': None, 'Dog_Bread': None, 'Legs': None, 'Age': None}
{'first_name': 'Sriharsha', 'last_name': 'Kata', 'Gender': 'Female', 'age': 22, 'Marital_status': False, 'skills': ['JavaScript', 'Html', 'Python'], 'country': 'USA', 'city': ['Overland park'], 'address': {'street': 'Craig street', 'zipcode': '66213'}}
Length of student dictionary = 9
Value of skills= ['JavaScript', 'Html', 'Python']
['JavaScript', 'Html', 'Python']
{'first_name': 'Sriharsha', 'last_name': 'Kata', 'Gender': 'Female', 'age': 22, 'Marital_status': False, 'skills': ['JavaScript', 'Html', 'Python', 'Angularjs', 'Hadoop'], 'country': 'USA', 'city': ['Overland park'], 'address': {'street': 'Craig street', 'zipcode': '66213'}}
dict_keys(['first_name', 'last_name', 'Gender', 'age', 'Marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['Sriharsha', 'Kata', 'Female', 22, False, ['JavaScript', 'Html', 'Python', 'Angularjs', 'Hadoop'], 'USA', ['Overland park'], {'street': 'Craig street', 'zipcode': '66213'}])

# Q3

In [22]:
Brothers = ('shaun', 'brett','mike') #creating brother and sister tuples
Sisters = ('lisa','jenny','sarah')
Siblings = Brothers + Sisters #joining brothe and sister tuples to siblings
print(Siblings) #printing sibling tuples
len(Siblings) #length of siblings

('shaun', 'brett', 'mike', 'lisa', 'jenny', 'sarah')

6

# Q4

In [42]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

len(it_companies) #length of it_companies

7

In [43]:
it_companies.add('Twitter') #adding twitter to the it_companies set and printing it
print(it_companies)

{'Apple', 'Twitter', 'Google', 'IBM', 'Microsoft', 'Amazon', 'Facebook', 'Oracle'}

In [44]:
it_companies.update(['Chase','Walmart']) #inserting it_companies set with multiple it companies and printing it
print(it_companies)

{'Twitter', 'Google', 'Amazon', 'Chase', 'Walmart', 'Oracle', 'Apple', 'Microsoft', 'Facebook', 'IBM'}

In [45]:
it_companies.remove('Chase') #removing one company from the set
print(it_companies)

{'Twitter', 'Google', 'Amazon', 'Walmart', 'Oracle', 'Apple', 'Microsoft', 'Facebook', 'IBM'}

In [46]:
C =A.union(B) #joining sets A and B
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [47]:
C =A.intersection(B) #intersecting sets A and B
print(C)

{19, 20, 22, 24, 25, 26}

In [48]:
print(A.issubset(B)) #Finding A is subset to B or not

True

In [49]:
print(A.isdisjoint(B)) #Finding A and B are disjoint sets or not

False

In [50]:
D = A.union(B) #joining A and B
print(D)

{19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
E = B.union(A) #joing B and A
print(E)

{19, 20, 22, 24, 25, 26, 27, 28}

In [52]:
F = D.union(E) #Joining A with B and B with A
print(F)

{19, 20, 22, 24, 25, 26, 27, 28}

In [53]:
print(A.symmetric_difference(B)) #printingsymmetric_difference

{27, 28}

In [54]:
del it_companies #deleting all the sets
del A
del B

In [37]:
age = [22, 19, 24, 25, 26, 24, 25, 24] #Converting the ages to a set and compare the length of the list and the set.
ages_st = set(age)
print(ages_st)
len(age)

{19, 22, 24, 25, 26}

8

In [55]:
len(ages_st) #length of ages set

5

# Q5

In [56]:
rad1 = 30

#Area of a circle 
area_of_circle = 3.141 * rad1 * rad1
print("Area :",area_of_circle)

#Circumference
circum_of_circle = 2 * 3.141 * rad1
print("Circumference :",circum_of_circle)

rad2 = int(input("Enter the radius value: "))
Area = 3.141 * rad2 * rad2

print("for given radius = ",rad2,"\nArea :",Area)

Area : 2826.9
Circumference : 188.46
Enter the radius value: 5
for given radius =  5
Area : 78.525

# Q6

In [59]:
a = 'I am a teacher and I love to inspire and teach people'
b = []
 
for i in a.split():
       b.append(i)

print(b)

c = 0
for i in b:
      if b.count(i) == 1:
            c = c+1

            
print(c)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
8

# Q7

In [58]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki") # tab escape sequence

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

# Q8

In [60]:
radius = 10
area = 3.14 * radius ** 2

print('The area of a circle with radius',radius,'is %.0f' %(area),'meters square.')

The area of a circle with radius 10 is 314 meters square.

# Q9

In [61]:
max = eval(input('Enter the length:'))# To take lenghts input
input1 = []
input2 = []
for i in range (0,max,1) :
    x = eval(input('Enter the value:')) #taking input values
    input1.append(x)
#reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop
for i in range (0,max,1) : 
      Y = input1[i] * 0.453592
      input2.append(Y)
print(input2)

Enter the length:4
Enter the value:150
Enter the value:155
Enter the value:145
Enter the value:148
[68.0388, 70.30676, 65.77083999999999, 67.131616]

In [ ]:
import numpy as np  #importing important python libraries
import matplotlib.pyplot as plt  
import pandas as pd  
dataframe=pd.read_csv("dataset.csv")#reading the dataset
x= dataframe['Feature'].values  
y= dataframe['Class'].values 
#dividing data equally into training and testing data
from sklearn.model_selection import train_test_split  
features_tr, features_te, label_tr, label_te= train_test_split(x, y, random_state=0, train_size= 0.5 ) 
#reshaping the data feature and labes into 2D array
features_tr = np.array(features_tr).reshape(-1,1)
features_te = np.array(features_te).reshape(-1,1)
#Normalizing data
from sklearn.preprocessing import StandardScaler    
normalization= StandardScaler()    
features_tr= normalization.fit_transform(features_tr)    
features_te= normalization.transform(features_te)  
#fiting the training data into classifier model 
from sklearn.neighbors import KNeighborsClassifier  
model= KNeighborsClassifier(n_neighbors=3 )  
model.fit(features_tr, label_tr)
#Predicting the test set result  
predict_class= model.predict(features_te)  
print("Predicted Test Samples Output:",predict_class)

#creating a confusion matrix
from sklearn.metrics import confusion_matrix  
model_evaluation= confusion_matrix(label_te, predict_class) 
print("Confusion matrix:\n",model_evaluation)
#finding model accuracy
count=sum(sum(model_evaluation))
accuracy=(model_evaluation[0,0]+model_evaluation[1,1])/count
print ('Accuracy =: ', accuracy)
# finding model sensitivity
sense = model_evaluation[0,0]/(model_evaluation[0,0]+model_evaluation[0,1])
print('Sensitivity =: ', sense )
#finding model specificity
speci = model_evaluation[1,1]/(model_evaluation[1,0]+model_evaluation[1,1])
print('Specificity =: ', speci)